<div class="main_container">
  <section>
    <div class="inner-container">
      <h2 class="about-title">I'm Gugci 👋</h2>
      <div class="about-subtitle">
        <p>
          Frontend intern and Computer Science student at the time of writing. I’m an open and communicative person, an avid learner, just as
          curious as I was during early childhood. Passionate about programming for a while, I’ve been experimenting with several languages and tools,
          trying to find out what I truly like. Recently I have taken the first step on this professional path.
        </p>
      </div>
    </div>
  </section>
</div>
