<div class="container">
  <div class="info">
    <div class="animate-background">
      <div class="container info-container">
        <div class="info-text">
          <h1>
            <p class="animate-text-1">School-taught Computer Scientist,</p>
            <p class="text-2">Self-taught Software Engineer</p>
          </h1>
        </div>
        <h2 class="subtitle">
          On a mission to L E A R N.
        </h2>
        <div class="scroll-button animate-scroll" tabindex="0" (click)="this.router.navigateByUrl('/about')">
          <a>Click Here</a><div class="arrow">→</div>
        </div>
      </div>
    </div>
  </div>

  <div class="background-div"></div>
</div>
