<nav>
  <div class="nav-container">
    <a routerLink="/" class="nav-logo" title="Back to Homepage">Gugci</a>
    <div class="nav-links">
      <a routerLink="/about" class="link">About</a>
      <a routerLink="/projects" class="link">Projects</a>
      <a routerLink="/contact" class="link">Contact</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <a href="https://github.com/daacode">Design credit: David Adeneye</a>
  <a href="https://github.com/daacode/my_portfolio_website">GitHub repo</a>
</footer>
